<div class="container">
    <a class="ribbon" href="http://github.com/slamet" target="_blank"><img src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    
    <div class="header">
        <h1>Slamet Nurhadi</h1>
         
            <%= gravatar_image_tag 'slametnhd@gmail.com' %>
        <p></p><p><a href="https://twitter.com/slametnhd" class="twitter-follow-button" data-show-count="false">Follow @slametnhd</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
        <h3><b>email: slametnhd@gmail.com</h3></p>
        <h2><i>Web Developer</i></h2>
    </div>
    
    <div class="section">
        <h3>Basic Information</h3>
        
        <div class="example">
          
             <a>Nationality & Recent Residence : Indonesia</a></br>
        </div>
        
      <div class="section">
        <h3>Additional Person</h3>
        
        <div class="example">
            <a>proactif, responsible, open minded</a>
        </div>

   

    <div class="section">
        <h3>Competences</h3>
        <div class="example">
            <p>Programming</p>
            <a>-Ruby (1.9) Rails (3.2.x)</a></br>
            <a>-PostgreSQL/MySQL</a></br>
            <a>-HTML, CSS, JSON</a></br>
        </div>
    </div>
 <div class="section">
        <h3>Development Environment</h3>
        
        <div class="example">
            <a>Windows,Mac OS X</a></br>
           
        </div>
        <h3>Editor</h3>
        
        <div class="example">
            
            <a>SublimeText 2</a></br>
            
        </div>
        <h3>Revision Control</h3>
        
        <div class="example">
            
            <a>Github</a></br>
            
        </div>

         <h3>Graduation</h3>
        
        <div class="example">
            
            <p>Bachelor's degree of Informatics Engineering- Universitas Nasional</p></br>
            
        </div>


<p>My blog stuff</p>
<a href="http://ndesostyle.wordpress.com/" class="button big">Click here</a>
    
</div>

<div class="footer">
    
</div>

